<div class="card">
    <div class="card-header">
      CALCULADORA IMC
    </div>
    <div class="card-body">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" [(ngModel)]="formImc.talla"
            id="txttalla" placeholder="name@example.com">
            <label for="txttalla">Ingrese su talla.</label>
          </div>

        <div class="form-floating">
            <input type="email" class="form-control" [(ngModel)]="formImc.peso"
            id="txtpeso" placeholder="name@example.com">
            <label for="txtpeso">Ingrese su peso.</label>
        </div>
        <hr />
        <button type="button" (click)="calcularImc()" class="btn btn-primary">Calcular</button>
        @if(mostrarMensaje){
            <div class="alert alert-primary" role="alert">
                {{resultado}}
            </div>
        } 
        

        <hr />

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Valor IMC</th>
                <th scope="col">Diagnostico</th>                
              </tr>
            </thead>
            <tbody>
                @for (itemPaciente of pacientesList; track $index) {
                    <tr>
                        <td>{{itemPaciente.id}}</td>
                        <td>{{itemPaciente.valor}}</td>
                        <td>{{itemPaciente.diagnostico}}</td>
                    </tr>
                }
             <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
             </tr>

            </tbody>
          </table>


    </div>
  </div>